*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#f3efe5;

font-family:Arial,sans-serif;

color:#333;

padding:20px;

}

.container{

max-width:700px;

margin:auto;

}

header{

text-align:center;

margin-bottom:30px;

}

header h1{

color:#2f6f42;

font-size:2em;

}

.sous-titre{

color:#777;

margin-top:8px;

}

.progression{

background:white;

padding:15px;

border-radius:15px;

margin-bottom:20px;

box-shadow:0 4px 10px rgba(0,0,0,.08);

}

.barre{

height:12px;

background:#ddd;

border-radius:50px;

overflow:hidden;

margin-top:10px;

}

.remplissage{

width:9%;

height:100%;

background:#2f6f42;

}

.carte{

background:white;

padding:20px;

border-radius:20px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

margin-bottom:20px;

}

.carte img{

width:100%;

border-radius:15px;

margin-bottom:15px;

}

.carte h2{

color:#2f6f42;

margin-bottom:15px;

}

.defi{

background:#e7f3e8;

padding:20px;

border-radius:20px;

margin-bottom:25px;

}

button{

width:100%;

padding:18px;

background:#2f6f42;

color:white;

border:none;

border-radius:15px;

font-size:18px;

font-weight:bold;

cursor:pointer;

}

button:hover{

background:#235533;

}